body {
    background-color: #ff;
    color: #444;
}

a {
    color:#666;
}
a:hover {
    color:#888;
}

.tabs li a {
    color: #666;
    background-color: #ccc;
    text-decoration: none;
    padding: 5px;
    border-color: #ccc;
}
.tabs li a.active {
    background-color: #fff;
    border-bottom-color: #fff;
}

#projectsWrap {
    background-color: #FFF;
}

table#projects {
    color: #444;
}
table#projects tr td {
    border-color: #CCC;
}
table#projects tr.odd {
    background-color: #EEE;
}
table#projects a {
    color: #444;
}
table#projects a:hover {
    color: #666;
}
#projectAdvSettingsGrabber {
    border-color: #ccc;
    background-color: #ddd;
    color: #444;
}
#projectAdvSettings {
    border-color:#ccc;
    background-color: #eee;
}
#rowCount {
    background-color: #fff;
}
.color-pip {
    background-color: #F00;
}
.color-pip-done {
    background-color: #0F0;
}

.percent0,
.percent10,
.percent20,
.percent30,
.percent40 {
    color: #000;
}
.percent50,
.percent60 {
    color: #F60;
}
.percent70,
.percent80 {
    color: #FA0;
}
.percent90 {
    color: #FF0;
}
.percent100 {
    color: #0F0;
}
.percentOver {
    color: #F00
}
