.color-primary-bg {
    background-color: #000;
}
.color-primary-fg {
    color: #000;
}
.color-secondary-bg {
    background-color: #fff;
}
.color-secondary-fg {
    color:#fff;
}
.color-link {
    color:#ccc;
}
.color-link:hover {
    color:#eee;
}
.color-pip {
    background-color: #F00;
}
.color-pip-done {
    background-color: #0F0;
}
.percent0,
.percent10,
.percent20,
.percent30,
.percent40 {
    color: #FFF;
}
.percent50,
.percent60 {
    color: #F60;
}
.percent70,
.percent80 {
    color: #FA0;
}
.percent90 {
    color: #FF0;
}
.percent100 {
    color: #0F0;
}
.percentOver {
    color: #F00
}
